.element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: grab;
}

.dragging {
    opacity: 0.3;
}

.item {
    height: fit-content;
    margin-top: 16px;
}