.content {
    width: 600px;
    left: 50%;
    position: relative;
    padding: 100px 0 0 40px;
}

.basket {
    padding: 0 16px 0 16px;
    overflow: auto;
    scrollbar-color: #8585AD #2F2F37;
}

.footer {
    position: relative;
    display: flex;
    float: right;
    padding: 40px 16px 0 40px;
    margin-right: 40px;
}

.price {
    composes: footer;
    padding: 0;
    height: fit-content;
    vertical-align: middle;
    margin-top: 10px;
}

.img {
    margin-top: 10px;
    padding-left: 4px;
}

.scrollable {
    max-height: 32vh;
    padding: 5px 0 5px 0;
    margin-right: 10px;
    border-radius: 30px;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
}