.counter {
    position: relative;
}

.ingredient {
    display: inline-grid;
    place-items: center;
    text-align: center;
    color: white;
}

.ingredient:hover {
    cursor: pointer;
    color: cornflowerblue;
    transition: 0.3s color;
}

.ingredientIcon {
    width: 240px;
    height: 120px;
}