.content {
    composes: modal from "./../modals/Modal.module.css";
    width: 350px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 175px);
}

.preloader {
    margin: 100px 143px 0 143px;
    height: 64px;
    width: 64px;
    background: url('../../images/preloader.svg');
    opacity: 0.5;
    z-index: 10000;
}

.label {
    width: fit-content;
    padding: 100px 0 50px 100px;
}